<div class="container">
  <div class="row border-bottom mt-5">
   <strong class="mb-3">
    <%= @user.name %>
    <% if user_signed_in? && @user == current_user %>
     のマイページ
    <% else %>
     のユーザーページ
    <% end %>
   </strong>
  </div>
  <% @posts.each do |post| %>
   <div class="row pt-3">
    <span><i class="fa fa-chevron-right"><%= link_to post.title , post_path(post.id) , class:"text-dark ml-3"%></i></span>
   </div>
  <% end %>
</div>

