<div class="container">
  <div class="row border-bottom mt-5">
   <strong class="mb-3">
    <%= @user.name %>
    <% if user_signed_in? && @user == current_user %>
     のマイページ
     <span class="edit-user pl-3">
      <%= link_to  edit_user_path(@user), class: 'text-dark' do %>
       <i class="bi bi-gear"></i>
      <% end %>
     </span>
    <% else %>
     のページ
    <% end %>
   </strong>
  </div>
  <% @posts.each do |post| %>
   <div class="row mt-4">
    <span><i class="fa fa-chevron-right"><%= link_to post.title , post_path(post.id) , class:"text-dark ml-3"%></i></span>
   </div>
  <% end %>
</div>

