<div class="container">
  <div class="row border-bottom mt-5">
   <strong class="mb-3"><i class="bi bi-stars mr-2"></i>送信完了</strong>
  </div>
  <div class="row pt-4">
   <p>お問い合わせを受け付けました。</p>
  </div>
</div>