<div class="container">
  <div class="row border-bottom mt-5">
   <strong class="mb-3">About</strong>
  </div>
  <div class="row pt-4">
   <p>
    <i class="bi bi-stars pr-2"></i>ねことの暮らしをよりよくするヒントが得られます<i class="bi bi-stars pl-2"></i>
   </p>
  </div>
  <div class="about-image mt-2">
    <%= image_tag 'pomuabout.jpeg', size: '225x150' %>
   </div>
</div>
