<div class="container">
  <div class="row border-bottom mt-5">
   <strong class="mb-3">『ねこ、暮らし。』について</strong>
  </div>
  <div class="row pt-3">
   <p>当サイトは、ねことの暮らしをより良く、ねこをより幸せにするために作成しました。<br><br>
      皆さんのおすすめフード・おもちゃ・ケアアイテムなど、ぜひご紹介して下さい。<br>
      投稿は、検索やタグ一覧からお調べいただけます。</br>
      質問は、質問カテゴリから投稿して下さい。</p>
  </div>
</div>
