<div class="container">
 <div class="row"></div>
 <div class="row mt-5">
   <div class="col-md-3">
    sidebar
    <!--applicarion.htmlに記述するか検討(常に表示)-->
   </div>
   <div class="col-md-8 offset-1">
    <!--いいね順に表示-->
    <% @posts.each do |post| %>
     <p></p>
     <span><%= post.title %></span>
    <% end %>
   </div>
 </div>
</div>