 <div class="searchposts mt-4">
  <%= form_with url: search_posts_path, class: 'form-inline', method: :get, local: true do |f| %>
    <%= f.text_field :name, class: 'form-control form-control-sm custom-form-control-2' %>
    <%= f.submit :search, class: 'btn btn-outline-dark btn-sm ml-2' %>
  <% end %>
</div>

