<div class="container">
  <div class="row border-bottom mt-5">
   <% if @category.present? %>
    <strong class="mb-3"><%= @category.name %></strong>
   <% else %>
    <strong class="mb-3">ねこぽすと</strong>
   <% end %>
  </div>
  <% @posts.each do |post| %>
   <div class="row mt-4">
    <span><i class="fa fa-chevron-right"><%= link_to post.title, post_path(post.id) , class:"text-dark ml-3 mr-5" %></i></span>
    <p>by <%= link_to post.user.name, user_path(post.user) , class:"text-dark" %></p>
   </div>
  <% end %>
  <div class="pagenate text-dark">
   <%= paginate @posts %>
  </div>
</div>
